#main-box{
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  background-color: grey;
}

#check-box{
  width: 400px;
  height: 600px;
  background-color: lightblue;
  margin: 12.5%;
}

#check-all{
  width: 400px;
  height: 600px;
  margin: 12.5%;
  background-color: lightgreen;
}

h1{
  text-align: center;
}

input{
  margin: 5%;
  font-size: 2rem;
}

.check2{
  margin-left: 10%;
}
